/* Global variables.  */

/* Basic variable definitions for color schemes */
:root {
  --gutter: var(--space-m-l);
  --transition-duration: 250ms;
  --transition-timing: ease;
  --wrapper-width: 85rem;
  --tracking: -0.04ch;
  --tracking-s: -0.075ch;
  --tracking-wide: 0.04ch;
  --stroke: 1px solid var(--color-bg-accent);

  --gradient-rainbow: linear-gradient(90deg, #cf4662 10%, #fbbe25 30%, #62c95c 50%, #08bccb 75%, #a977d5 90%);
  --gradient-conic: conic-gradient(
    var(--color-primary) 0 28%,
    var(--color-secondary) 0 67%,
    var(--color-tertiary) 0 100%
  );
  --gradient-stripes: linear-gradient(
    45deg,
    var(--color-gray-900) 0 75%,
    var(--color-primary) 0 85%,
    var(--color-secondary) 0 92%,
    var(--color-tertiary) 0 100%
  );

  --color-light: var(--color-gray-50);
  --color-dark: var(--color-gray-950);
  --color-mid: var(--color-gray-500);
}

/* Light theme */
:root,
:root[data-theme='light'] {
  --color-text: var(--color-gray-950);
  --color-bg: var(--color-gray-50);

  --color-primary: var(--color-red);
  --color-secondary: var(--color-blue);
  --color-tertiary: var(--color-yellow);
  --color-quaternary: var(--color-green);

  --color-text-accent: var(--color-gray-800);
  --color-bg-accent: var(--color-gray-100);
  --color-bg-accent-2: var(--color-gray-200);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --color-text: var(--color-gray-50);
    --color-bg: var(--color-gray-950);

    --color-primary: var(--color-red-subdued);
    --color-secondary: var(--color-blue-subdued);
    --color-tertiary: var(--color-yellow-subdued);
    --color-quaternary: var(--color-green-subdued);

    --color-text-accent: var(--color-gray-200);
    --color-bg-accent: var(--color-gray-800);
    --color-bg-accent-2: var(--color-gray-700);
  }
}
:root[data-theme='dark'] {
  --color-text: var(--color-gray-50);
  --color-bg: var(--color-gray-950);

  --color-primary: var(--color-red-subdued);
  --color-secondary: var(--color-blue-subdued);
  --color-tertiary: var(--color-yellow-subdued);
  --color-quaternary: var(--color-green-subdued);

  --color-text-accent: var(--color-gray-200);
  --color-bg-accent: var(--color-gray-900);
  --color-bg-accent-2: var(--color-gray-800);
}

/* Paper/Flexoki light theme */
@media (prefers-color-scheme: paper) {
  :root {
    --color-text: var(--color-flexoki-black);
    --color-bg: var(--color-flexoki-paper);

    --color-primary: var(--color-red-subdued);
    --color-secondary: var(--color-blue-subdued);
    --color-tertiary: var(--color-yellow-subdued);
    --color-quaternary: var(--color-green-subdued);

    --color-text-accent: var(--color-flexoki-base-600);
    --color-bg-accent: var(--color-flexoki-base-100);
    --color-bg-accent-2: var(--color-flexoki-base-200);
  }
}
:root[data-theme='paper'] {
  --color-text: var(--color-flexoki-black);
  --color-bg: var(--color-flexoki-paper);

  --color-primary: var(--color-red-subdued);
  --color-secondary: var(--color-blue-subdued);
  --color-tertiary: var(--color-yellow-subdued);
  --color-quaternary: var(--color-green-subdued);

  --color-text-accent: var(--color-flexoki-base-600);
  --color-bg-accent: var(--color-flexoki-base-100);
  --color-bg-accent-2: var(--color-flexoki-base-200);
}
