---
layout: base
---

<div class="region wrapper flow prose" style="--region-space-top: var(--space-xl-2xl)">
  <h1 class="gradient-text">{{ title }}</h1>
  {% if image %}
      <!-- image -->
      {% set postcaption = caption if caption else description %} 
      {%
        imageKeys {
          "src": image,
          "alt": alt or "",
          "caption": postcaption,
          "credit": credit,
          "loading": "eager"
        }
      %}
      {% endif %}
  {{ content | safe }}
</div>
