---
layout: base
schema: BlogPosting
---

<div class="region" style="--region-space-top: var(--space-xl-2xl)" data-pagefind-body>
  <div class="wrapper flow prose">
    <h1>{{ title }}</h1>

      {% if image %}
      <!-- image -->
      {%
        imageKeys {
          "src": image,
          "alt": alt or "",
          "caption": description,
          "credit": credit,
          "loading": "eager"
        }
      %}
      {% endif %}
      
    

    <div class="meta | cluster gutter-xs-s">
      <!-- draft status -->
      {%- if draft -%}
        <span class="button" data-small-button data-button-variant="tertiary">draft</span>
      {%- endif %}
      <!-- date -->
      {% set definedDate = date %} {% include "partials/date.njk" %}
      <span> | {{ content | readingtime }} to read</span>
      {%
        if tags.length >
        1
      %}
        <!-- tags -->
        {% for tag in tags %}{% if tag != "posts" %}
          <a class="button" href="/tags/{{ tag | slugify }}/" data-small-button> #{{ tag }} </a>
        {% endif %}
       {% endfor %}
      {% endif %}

      {% include 'partials/social-share.njk' %}
    </div>

    {{ content | safe }}
    <hr>
  </div>

{% if series %}
  <div class="series | section">
      <section class="section__inner wrapper flow prose" style="padding-block-start: var(--space-l); --spot-color: {{ seriesMeta[series].accentColor | safe }}; color: {{ seriesMeta[series].headerTextColor | safe}};">
          {% include 'partials/series-nav.njk' %}
      </section>
    </div>
{% endif%}

{% if bskyurl %}
  <div class="series | section">
      <section class="section__inner wrapper flow prose" style="padding-block-start: var(--space-l); --spot-color: --color-bg; ">
          {% include 'partials/bsky.njk' %}
      </section>
    </div>
{% endif%}

<div class="wrapper flow prose" style="margin-block: var(--flow-space, var(--space-m-l));">
  {% include 'partials/edit-on.njk' %}
</div>

  <!--  h-card infos: https://indieweb.org/authorship -->
  <div hidden class="h-entry">
    <a class="u-url" href="{{ page.url | url | absoluteUrl(meta.url) }}">{{ title }}</a>
    <a class="p-name u-url" rel="author" href="{{ meta.url }}">{{ meta.author.name }}</a>
    <img
      eleventy:ignore
      class="u-author h-card"
      src="{{ meta.author.avatar | url | absoluteUrl(meta.url) }}"
      alt="{{ meta.author.name }}"
    />
  </div>
  
</div>
</article>


{%- css "local" -%}
  {%- include 'css/post.css' -%}
  {%- include 'css/footnotes.css' -%}
{%- endcss -%}
