---
title: About
permalink: /about/index.html
description: 'Eleventy Excellent is inspired bythe companion website of Andy Bell’s talk "Be the browser’s mentor, not its micromanager".'
layout: base
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-text);">{{ title }}</h1>
    </div>

    {% svg "divider/waves", null, "divider" %}
  </header>

<article class="full | region">
    <div class="wrapper flow prose">
      <p>
        This starter uses modern CSS, fluid type & space, flexible Layouts and Progressive Enhancement, wrapped in a basic template.
      </p>
      <p>
        It is built around the CSS boilerplate by Andy Bell and inspired by Andy's talk **'Be the browser’s mentor, not its micromanager'**.
      </p>
      <p>         
        If you want to know exactly how it all works, <a href="https://piccalil.li/blog/a-css-project-boilerplate/"> read this article on piccalil.li</a>.
      </p>
      <p>
        The aim is to spread the idea and use of this _excellent_ workflow. To work with it efficiently you should be familiar with <a href="https://cube.fyi/"> cube.fyi</a>
      </p>
      <p>
        <ul>
          <li> buildexcellentwebsit.es</li>
          <li> Remix the original: https://glitch.com/edit/#!/remix/build-excellent-websites</li>
          <li> Study the original CSS boilerplate: https://github.com/Set-Creative-Studio/cube-boilerplate/tree/main</li>
        </ul>
      </p>
      <h2>Watch the talk</h2>
      <div><custom-youtube @slug="JqnMI1AXl6w" @label="Andy Bell – Be the browser’s mentor, not its micromanager"> </custom-youtube></div>
    </div>
  </article>

