---
title: About
permalink: /about/index.html
description: 'Blog and creative portfolio of Hylia/Levi I., gamedev, programmer, graphic designer, and writer.".'
layout: base
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-text);">{{ title }}</h1>
    </div>

    {% svg "divider/waves", null, "divider" %}
  </header>

<article class="full | region">
    <div class="wrapper flow prose">
      <p>
        I am <b>Levi Ireri</b>, known online as <b>Hylia</b> (superhylia), a current student at the University of Texas at Dallas to pursue a B.S. in Computer Science. I am a game developer and designer, programmer, graphic designer, and writer, among many other things. 
      </p>
      <p>
        You may know me for hosting a couple of Smash and other fighting game tournaments, probably with Lifelight Cafe, the fighting game community I own and have run as head tournament organizer since 2020.
      </p>
      <h2>These are a few of my favorite things...</h2>
        {% image "/assets/images/pages/about/gem_collection.png", "Many people in Hawaii play *Space Invaders* (1978) arcade cabinets.", null, "[Topsters.](https://topsters.org/)" %}
    </div>
  </article>

