---
layout: base
permalink: /index.html
title: 'Hylia''s Corner'
description: 'Hylia here (real name: Levi I.), a current compsci major sophomore looking to leave something behind. This is both my personal blog, Hylia''s Corner, and my portfolio for graphic design, coding projects, and (soon-to-be) games or other creative projects.'
blog:
  title: 'Hylia''s Corner (my blog)'
  intro: "Scribbles and essays about creating something in the world (and guilty pleasures)."
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-bg);">{{ title }}</h1>
    </div>

    {% svg "divider/waves", null, "seperator" %}
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h2 id="an-eleventy-starter">Hello, everyone!</h2>
      <p>
        <strong>Hylia</strong> here (real name: Levi I.), a current compsci major sophomore looking to leave something behind. This is both my <a href="blog">personal blog, Hylia's Corner,</a> and <a href="portfolio">my portfolio</a> for graphic design, coding projects, and (soon-to-be) games or other creative projects. 
      </p>
      <p>
        <ul>
		<li><strong>What are you working on right <a href="now">now</a>?</strong> Getting this website fully fleshed out, mainly.</li>
		<li><strong>What are you currently playing/reading/listening to?</strong> <a href="https://www.backloggd.com/u/superhylia/">Backloggd</a>,  <a href="https://hardcover.app/@superhylia/books/currently-reading">Hardcover</a>, and <a href="https://www.last.fm/user/superhylia">last.fm</a>  will probably be more updated, but the last time I edited this website…
		<ul>
		<li>...the main game I’m playing is <em>Resident Evil 4</em> (2005), developed by Capcom Production Studio 4.</li>
		<li>...the main books I’m reading are <em>The Bright Sword</em> by Lev Grossman and <em>Avatar: The Last Airbender - The Shadow of Kyoshi</em> by F.C. Yee.</li>
		<li>...the main artist I’m listening to is Kendrick Lamar. 🐐</li>
		</ul>
		</li>
		<li><strong>I’ve seen you before! I know you from…</strong>
		<ul>
		<li>…fighting game tournaments/communities? I’m the owner of <a href="https://lflt.cc">Lifelight Café</a>, host of Sandbag Series/Circuit, Roastfall, Latte Night Grind, and more. I’ve hosted many other large tournaments like Domic’s Atomic Arena.</li>
		<li>…nice graphics I’ve seen! I appreciate your kindness! I do graphic design commissions, which you can read more about <a href="commissions">here</a>.</li>
		</ul>
		</li>
		</ul>
      </p>
      <p>Explore the site to your heart's content, though things are still moving around. I'll update this once things are tidier, but for now, have a good one and write something today.</p>
    </div>
  </article>

  <section class="full | region">
    <div class="wrapper flow prose">
      <h2>{{ blog.title }}</h2>
      <!-- blog intro text is optional. -->

      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}

      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          <!-- loop posts -->
          {% set itemList = collections.allPsts %}
					{% asyncEach item in itemList.slice(0, 4) %}
						{% set definedDate = item.date %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
