---
layout: base
permalink: /index.html
title: 'Hylia''s Corner'
description: 'Hylia here (real name: Levi I.), a current compsci major sophomore looking to leave something behind. This is both my personal blog, Hylia''s Corner, and my portfolio for graphic design, coding projects, and (soon-to-be) games or other creative projects.'
blog:
  title: 'Hylia''s Corner (my blog)'
  intro: "Scribbles and essays about creating something in the world (and guilty pleasures)."
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-text);">{{ title }}</h1>
    </div>
    {% svg "divider/waves", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h2 id="an-eleventy-starter">An Eleventy starter</h2>
      <p>
        <strong>Hylia</strong> here (real name: Levi I.), a current compsci major sophomore looking to leave something behind. This is both my <a href="blog">personal blog, Hylia's Corner,</a> and <a href="portfolio">my portfolio</a> for graphic design, coding projects, and (soon-to-be) games or other creative projects. 
      </p>
      <p>
        <strong>This is <a href="https://github.com/madrilene/eleventy-excellent/">version 4</a>.</strong> I keep a
        <a href="https://github.com/madrilene/eleventy-excellent/tree/v1">branch of v1</a>,
        <a href="https://github.com/madrilene/eleventy-excellent/tree/v2">v2</a> and <a href="https://github.com/madrilene/eleventy-excellent/tree/v3">v3</a>. I  tried to <a href="/get-started/#docs-lol">document most features and methodologies</a>.
      </p>
      <p>Explore the site to your heart's content, though things are still moving around. I'll update this once things are tidier, but for now, have a good one and write something today.</p>
    </div>
  </article>

  <section class="full | region">
    <div class="wrapper flow prose">
      <h2>{{ blog.title }}</h2>
      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}
      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
            {% set headingLevel = "h3" %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
