---
layout: base
title: Projects
description: 'Everything I''ve made.'
permalink: 'portfolio/index.html'
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-quaternary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-bg);">{{ title }}</h1>
      <h3 class="text-center" style="color: var(--color-bg);">All that I've made, from graphic design and branding to communities and code projects (including this website!).</h3>
    </div>
    
    {% svg "divider/edgy", null, "seperator" %}
  </header>
</div>

<article class="full | region">
    <div class="wrapper flow prose">
      <h1 id= "Graphics">
        <a href ="#graphics" class="heading-anchor"> Graphics</a>
      </h1>
      <p>
        <ul>
          <li><a href="/graphics/2024"> Graphics from 2024</a></li>
          <li><a href="/graphics/2023"> Graphics from 2023</a></li>
          <li><a href="/graphics/2022"> Graphics from 2022</a></li>
        </ul>
      </p>
  </article>

<p>
  Honestly, I made this starter for myself, based on how I want to start a project and how I like to organize
  everything. I am delighted that so many of you find it useful too! This is a list of sites based on / built
  with Eleventy Excellent. This uses Eleventy's
  <a href="https://www.11ty.dev/docs/services/screenshots/">screenshot API </a>. New screenshots are fetched
  in development only.
</p>

<p>
  Have you built a site with this starter? Please let me know or create a
  <a
    href="https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request"
    rel="noopener"
    >pull request</a
  >
  and add it to the list! Add your data in <code>src/_data/builtwith.json</code>, then run
  <code>npm run screenshots</code> to add or update the screenshots.
</p>

<article class="full  section" style="--spot-color: var(--color-bg-accent)">
  {% svg "divider/soft-top", null, "divider" %}

  <section class="feature section__inner wrapper">
    <h2>Based on, or built with Eleventy Excellent:</h2>
    <div
      class="feature grid region"
      style="--region-space-top: var(--space-xl); --gutter: var(--space-xl) var(--space-xs)"
    >
      <!-- you find tha data for that in src/_data/builtwith.json -->
      {% for site in builtwith | shuffle %}
        <custom-card clickable img-square class="text-step-min-1" style="--card-bg: var(--color-bg)">
          {% image "./src/assets/images/screenshots/" + site.filename + ".jpg", site.name, null, "lazy", null, null, widths, sizes %}
          <h3 slot="headline" class="text-step-min-1">{{ site.name }}</h3>

          <p slot="content">{{ site.description }}</p>
          <footer slot="footer" class="repel">
            <a class="no-indicator" href="{{ site.link }}">{{ site.link | replace("https://", "") }}</a>
            {% if site.builtbylene %}
              <span class="gradient-text-linear">built by Lene</span>
            {% endif %}
          </footer>
        </custom-card>
      {% endfor %}
    </div>
  </section>

  {% svg "divider/soft-bottom", null, "divider" %}
</article>

{% css "local" %}
  {% include "css/custom-card.css" %}
{% endcss %}


{% css "local" %}
  {% include "css/custom-card.css" %}
{% endcss %}
  
