---
layout: base
title: Projects
description: 'Everything I''ve made.'
permalink: 'portfolio/index.html'
gallery:
  - image: ./src/assets/projects/graphic_design/2025/mgs_delta.png
    alt: 'Naked Snake, as depicted in Metal Gear Solid Delta: Snake Eater, appears in the middle of the frame with a green tint and comic book-style dots holding a knife. The logo for the game is featured at the bottom. Green shrubbery, a red pixelated butterfly, and white petals surround snake. The outline of Eva appears within the shadows of black trees in the upper right corner. Next to snake, an outline of The Boss appears as well cutting through the background.'
    caption: 'A poster to celebrate Metal Gear Solid Delta: Snake Eater''s release using the Famitsu cover as a base and assets from Subsistence''s box art.'
  - image: ./src/assets/projects/graphic_design/2023/riders.png
    alt: 'A picturesque valley showcasing majestic mountains and lush forests, creating a serene and captivating landscape'
    caption: 'Inside the Somiedo Natural Park, Asturias'
  - image: ./src/assets/projects/graphic_design/2024/apollo.png
    alt: 'The text Apollo lays atop art of Shinjiro Aragaki surrounded by circular waves filled in with other characters (Dante, Jill, Miller, Ocelot, and Flynn). Next One and Truth text appear on the top and bottom background, respectively.'
    caption: 'A banner for my friend Apollo.'
  - image: ./src/assets/projects/graphic_design/2024/dihgra.png
    alt: 'Kazuya Mishima punches above Jin Kazama on top of a rainy background with the text no limit for us and the struggle made me strong handwritten over him. To the right, the text dihgra is overlaid Clive Rosfield on top of a subtly textured off-white background.'
    caption: 'A banner for my friend Dihgra.'
  - image: ./src/assets/projects/graphic_design/2024/jazzy/jazzy.png
    alt: 'Close-up of a delicate white flower with a yellow center, surrounded by green leaves'
    caption: 'One of many graphics for State Theater Showdown, a Smash Ultimate tournament.'
  - image: ./src/assets/projects/graphic_design/2025/arvand.png
    alt: 'Terry Bogard as featured in Super Smash Bros. Ultimate is overlaid on a red background in a graphic for daily streamer Arvand with a quote in ithe corner: HEY, COME ON COME ON. The right side features incentives to help the player go to Ohio Ultimate Summit. 10 VOTES - Reimburse first ten voters! 20 VOTES - Terry counterplay doc. 50 VOTES - Cornball dumps a water barell on me. 75 VOTES - Change my social media for a year. 100 VOTES - Change my tag for a year. BUZZCUT AT SUMMIT - IF WE GET IN WITH 150+ VOTES.'
    caption: 'A banner for Arvand to help them head to Ohio Ultimate Summit.'
  - image: '/posts/2026/ngp-famicom/fami-intro/intro.png' 
    alt: 'An illustrated diagram of the Family Computer is behind text introducing essay series New Gaze+: The Weight of Age by superhylia.dev.'
  - image: '/posts/2026/ngp-famicom/dk/dk.png' 
    alt: 'Text introducing essay series New Gaze+: The Weight of Age is displayed on top. The art for Donkey Kong (1981) is displayed over a flat Famicom cartridge diagram with the essay title Take the Game Home as Chapter 1-1 in section Playing with Power.'
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-quaternary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-text);">{{ title }}</h1>
      <h3 class="text-center" style="color: var(--color-text);">All that I've made, from graphic design and branding to communities and code projects (including this website!).</h3>
    </div>
    
    {% svg "divider/edgy", null, "divider" %}
  </header>
</div>

<article class="full | region">
    <div class="wrapper flow prose">
      <h1 id= "Graphics">
        <a href ="#graphics" class="heading-anchor"> Graphics</a>
      </h1>
      <p>
        {% include "partials/gallery.njk" %}
        <ul>
          <li><a href="/graphics/2025"> Graphics from 2025</a></li>
          <li><a href="/graphics/2024"> Graphics from 2024</a></li>
          <li><a href="/graphics/2023"> Graphics from 2023</a></li>
          <li><a href="/graphics/2022"> Graphics from 2022</a></li>
        </ul>
      </p>
  </article>

  {% svg "divider/soft-bottom", null, "divider" %}
</article>

{% css "local" %}
  {% include "css/custom-card.css" %}
{% endcss %}


{% css "local" %}
  {% include "css/custom-card.css" %}
{% endcss %}
  
