---
layout: base
title: Projects
description: 'Everything I''ve made.'
permalink: 'portfolio/index.html'
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-quaternary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-bg);">{{ title }}</h1>
    </div>

    {% svg "divider/edgy", null, "seperator" %}
  </header>
</div>

<p>
  Honestly, I made this starter for myself, based on how I want to start a project and how I like to organize
  everything. I am delighted that so many of you find it useful too! This is a list of sites based on / built
  with Eleventy Excellent. This uses Eleventy's
  <a href="https://www.11ty.dev/docs/services/screenshots/">screenshot API </a>. New screenshots are fetched
  in development only.
</p>

<p>

{% css "local" %}
  {% include "css/custom-card.css" %}
{% endcss %}
  
