:root {
    --color-comments: unset;
    --color-borders: unset;
    --color-borders-embed: unset;
    --color-background: var(--color-bg-accent);
    --color-background-alt: var(--color-primary);
    --color-host: var(--color-primary);
    --font-color: var(--color-text);
    --font-size: var(--size-step-0);
    --font-size-repost: 0.8em;
    --font-meta-color: var(--color-text-accent);
    --font-meta-size: var(--size-step-min-1);
    --link-color: unset;
    --link-visited-color: unset;
    --link-hover-color: var(--color-text);
    --icon-size: var(--space-xl);
    --icon-radius: 5em;
    --box-max-width: unset;
    --box-border-radius: var(--border-radius-medium);
}

#comments-container {
    font-family: var(--font-base);
    margin: var(--space-2xs) 0;
}

#comments-container a {
    color: var(--link-color);
}

#comments-container a:visited {
    color: var(--link-visited-color);
}

#comments-container a:hover {
    color: var(--link-hover-color);
}

.comment-box {
    margin: var(--space-xs-s) 0;
    padding: var(--space-xs-s);
    border: unset;
    background-color: var(--color-background);
    border-radius: var(--box-border-radius);
    max-width: var(--box-max-width);
    filter: drop-shadow(5px 5px 5px #0404044f);
}

p.comment-text {
    font-size: var(--font-size);
}

.comment-innerbox {
    display: flex;
}

.comment-image {
    max-width: 100%;
}

.comment-meta {
    color: var(--font-meta-color);
    font-size: var(--font-meta-size);
}

.comment-avatar {
    height: var(--icon-size);
    width: var(--icon-size);
    border-radius: var(--icon-radius);
    margin-right: 1em;
}

.comment-replies {
    margin-left: 20px;
    border-left: 0px solid var(--color-comments);
    padding-left: 10px;
}

.comment-box.comment-host {
    border-left: 10px solid var(--color-background-alt);
}

.comment-imagebox {
    display: flex;
}

.comment-metricsbox {
    display: flex;
}

.comment-metricslink {
    color: var(--color-text);
    display: flex;
    gap: var(--space-m);
}

.comment-metrics {
    display: flex;
    align-items: center;
    padding: var(--space-3xs);
}

.comment-metrics>svg {
    height: var(--space-l);
}

.comment-embedbox {
    text-align: center;
    background-color: var(--color-background-alt);
    padding: 1em;
    border-radius: 0.5em;
    max-width: 100%;
    border: none;
    color: var(--font-color);
    font-weight: bold;
}

.comment-embedbox-thumb {
    border: 1px solid var(--color-borders-embed);
    background-color: var(--color-background);
    border-radius: 8px;
    overflow: hidden;
}

.comment-embedbox-thumb img {
    max-width: 100%;
}

.comment-embedbox-thumb > a {
    color: var(--font-color);
    text-decoration: none;
}

.comment-embedbox-thumb p {
    margin: 0px 20px 3px 10px;
}

.comment-repost {
    margin-left: 4em;
    font-size: var(--font-size-repost);
}

.comment-repost .comment-avatar {
    height: calc(var(--icon-size) * 0.66666);
    width: calc(var(--icon-size) * 0.66666);
}

