
#letterboxd-embed-tc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    font-size: 1rem;
}

.letterboxd-embed-tc-diary-entry {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 .5rem;
}

.letterboxd-embed-tc-title {
    font-weight: bold;
    font-size: var(--size-step-0);
    margin-bottom: 0.1rem;
    text-align: left;
    line-height: normal;
}

.letterboxd-embed-tc-year {
    font-weight: normal;
    font-size: 0.8rem;
    margin-left: 0.0rem;
    color: var(--color-text-accent);
}

.letterboxd-embed-tc-date {
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    color:var(--color-text-accent);
}

.letterboxd-embed-tc-rating {
    color: var(--color-quaternary);
    font-size: var(--size-step-min-1);
}

.letterboxd-embed-tc-review {
    margin-top: 0.2rem;
    color: var(--color-text);
    font-size: var(--size-step-min-1);
}

.letterboxd-embed-tc-divider {
    border-bottom: 1px solid var(--color-text);
}

.letterboxd-embed-tc-poster img {
    border-radius: 0.25rem;
    max-width: unset;
}

.letterboxd-embed-tc-content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: left;
}

.letterboxd-embed-tc-footer {
    text-align: left;
    font-size: 0.9rem;
}
