.post article h1 {
  font-size: var(--size-step-6);
}

.post article h2 {
  font-size: var(--size-step-3);
}

.post article h3 {
  font-size: var(--size-step-2);
}

.feature {
  position: relative;
  display: inline-block;
  line-height: 0;
  overflow: hidden;
  margin-bottom: var(--space-m);
}

/* make featured image alwyays 16/9 */
.post h1 + :is(picture, figure) img {
  max-inline-size: var(--max-img-width, 100%);
  /* Ensure the image behaves like a block and clears margins */
  display: block; 
  margin-inline: auto;
  position: relative;

  block-size: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
  /* Add this to prevent 'bleeding' if the container is weird */
  overflow: hidden;
}

.post date {
  font-size: var(--size-step-1);
  color: var(--color-text-light);
}

.credit {
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 10;

  font-size: var(--size-step-min-1);
  color: var(--color-text-accent);
  line-height: 1;

  background-color: var(--color-bg);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid(--color-bg);
  border-top-left-radius: 8px;
  border-radius: var(--border-radius-medium);
  width: max-content;
  padding: 6px 12px;
  opacity: 0;
  transition: opacity 0.3s ease; 
  pointer-events: none;
}

.feature:hover .credit {
  opacity: 1;
  visibility: visible;
}

.post .meta {
  font-size: var(--size-step-min-1);
}
