.post article h1 {
  font-size: var(--size-step-6);
}

.post article h2 {
  font-size: var(--size-step-3);
}

.post article h3 {
  font-size: var(--size-step-2);
}

/* make featured image alwyays 16/9 */
.post h1 + :is(picture, figure) img {
  max-inline-size: var(--max-img-width, 100%);
  /* Ensure the image behaves like a block and clears margins */
  display: block; 
  margin-inline: auto;
  position: relative;

  block-size: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
  /* Add this to prevent 'bleeding' if the container is weird */
  overflow: hidden;
}

.post date {
  font-size: var(--size-step-1);
  color: var(--color-text-light);
}

.post .meta {
  font-size: var(--size-step-min-1);
}
