---
layout: tags
title: 'Browse by Series'
description: 'A list of all series.'
permalink: /series/index.html
---
<ul class="grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    {% for name, posts in collections.series %} 
      {% set meta = seriesMeta[name] %}
      {% include "partials/card-seriesList.njk" %}
    {% endfor %}
  </ul>
