---
layout: tags
permalink: /tags/index.html
redirectFrom: search/index.html
eleventyComputed:
  title: '{{ meta.blog.tagPlural }}'
---

<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>
<div id="search"></div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showSubResults: true });
    });
</script>

<div class="taglist | mt-s-m cluster">
  {% for tag in collections.tagList %}
    <a href="/tags/{{ tag }}" class="button"> {{ tag }} </a>
  {% endfor %}
</div>

<custom-masonry layout="50-50">
  {% set itemlist = collections.posts %}
  {% for item in itemlist %}

		{% include "partials/card-tag.njk" %}
  {% endfor %}
</custom-masonry>
