<custom-card clickable>
  <figure slot="image">
    <img src="{{ item.data.image }}" alt="{{ item.data.alt }}" loading="eager" decoding="sync">
  </figure>     
  <h2 slot="headline" class="text-step-2">
    <a href="{{ item.url | url }}">{{ item.data.title }}</a>
  </h2>
  <span slot="date"> {% include "partials/date.njk" %} </span>
  <p slot="content">{{ item.data.description }}</p>
</custom-card>

{% css "local" %}
  {% include "css/custom-card.css" %}
{% endcss %}
