<--- {% if meta.viewRepo.allow %}
  <hr />
  <p class="text-step-min-1">
    {% if lastEdit %}
      {% set definedDate = lastEdit %}
        Last edited on {% include "partials/date.njk" %} | 
      {% endif %}    
    {{ meta[page.lang].blog.githubEdit }}
    <a href="{{ pkg.repository.url | url | replace('.git', '/tree/main/') }}{{ page.inputPath }}"
      >{{ meta.viewRepo.infoText }}</a
    >.
  </p>
{% endif %} --->

<hr />
  {% if lastEdit %}
  <p class="text-step-min-1">
      {% set definedDate = lastEdit %}
        Last edited on {% include "partials/date.njk" %}.
    </p> {% endif %}
  