<div class="share | cluster gutter-xs-s" data-module="share-footer-menu" style="font-size: var(--size-step-min-1);">
      <span class="share-label" style="font-size: var(--size-step-min-1);"> {% svg "misc/share" %} Share this post via:</span>      
      <a href="https://bsky.app/intent/compose?text={{ title | urlencode }}%20{{ page.url | url | absoluteUrl(meta.url) }}" target="_blank" rel="noopener">
        BlueSky
      </a>
      <a href="https://twitter.com/intent/tweet?text={{ title | urlencode }}&url={{ page.url | url | absoluteUrl(meta.url) }}" target="_blank" rel="noopener">
        Twitter
      </a>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | url | absoluteUrl(meta.url) }}" target="_blank" rel="noopener">
        LinkedIn
      </a>
      <a href="https://share.joinmastodon.org/#text={{ title | urlencode }}%0A%0ARead%20at%20{{ page.url | url | absoluteUrl(meta.url) }}" target="_blank" rel="noopener">
        Mastodon
      </a>
      <a href="mailto:?subject={{ title | urlencode }}&body={{ title | urlencode }}%20-%20{{ description }}%0A%0ARead%20at%20{{ page.url | url | absoluteUrl(meta.url) }}" target="_blank" rel="noopener">
        Email
      </a>
      <span>
        <button data-footer-share-trigger data-title="{{ title }}" data-url="{{ page.url | url | absoluteUrl(meta.url) }}">
          <u>More options...</u>
        </button>
      </span>
</div>

<script> {% include "scripts/social-share.js" %} </script>