
<div class="share-button" data-module="share-menu" style="margin-inline-start: auto;">
  <button class="button" data-share-trigger data-title="{{ title }}" data-url="{{ page.url | url | absoluteUrl(meta.url) }}" data-small-button>
    {% svg "misc/share" %}
  </button>
</div> 

<script> {% include "scripts/social-share.js" %} </script>